h1, h2, p {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1600px;
  min-height: 1203px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.input {
  border: 1px solid white;
  background-color: rgb(255 255 255 / 0%);
  text-align: center;
  border-radius: 25px;
}

.input {
  padding: 22px 240px;
  margin-top: 27px;
  text-align: center;
  color: white;
  width: 314px;
  height: 46px;
  font-size: 40px;
  line-height: 48px;
}

.input::placeholder {
  color: white;
}

.input:hover {
  text-align: center;
  width: 314px;
  height: 46px;
  font-size: 40px;
  line-height: 48px;
}

.weather {
  margin-top: 10px;
  width: 222px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.block-flex {
  margin-bottom: 110px;
}

.blocks-weather {
  background: url("https://i.gifer.com/srG.gif");
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  margin-bottom: 50px;
  width: 760px;
  height: 312px;
}

.night {
  background: url("https://i.gifer.com/3OTce.gif");
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  margin-bottom: 50px;
  width: 760px;
  height: 312px;
}

.blocks-weather {
  background-size: cover;
  background-repeat: no-repeat;
}

.block-right {
  margin-top: 39px;
  margin-left: 71px;
}

.name {
  min-width: 188px;
  height: 64px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.region {
  margin-top: 10px;
  width: 249px;
  height: 31px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.localtime {
  margin-top: 105px;
  width: 210px;
  height: 28px;
  font-size: 24px;
  line-height: 29px;
}

.block-left {
  margin-top: 30px;
  margin-right: 27px;
}

.icons {
  width: 83px;
  height: 81px;
}

.temp_c {
  margin-top: 15px;
  margin-left: 20px;
  width: 80px;
  height: 28px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.temp_f {
  margin-top: 90px;
  width: 105px;
  height: 31px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.error {
  position: absolute;
  top: 230px;
  color: red;
  font-size: 35px;
}

.fa-solid {
  position: absolute;
  margin-left: 20px;
  margin-top: 35px;
  font-size: 80px;
  color: white;
  width: 66px;
  height: 66px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
